* {
    margin:0;
    padding:0;
}
.center {
    text-align:center;
}

.greet-block {
    display: block;
    margin: 0 auto;
    padding:20px;
    background-color: blanchedalmond;
    text-align:center;
    max-width:400px;
    margin-top: 10vh;
}
.greet-form {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.greet-form button {
    margin-top: 10px;
    margin-bottom:10px;
    padding:2vh;
    border: none;
    background-color: orangered;
    color: white;
}
.greet-form input {
    padding:5px 10px;
}
.greet-list {

   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: N; /* number of lines to show */
   line-height: 2rem;        /* fallback */
   max-height: 100rem;       /* fallback */

}